@import "../../styles/base/_all";

ce-event-item-embed {
    @extend .entity-item;
    text-align:left;

    p,a {
        position:relative;
        display:inline-block;
        text-align:left;
    }

    p {
        width:70%;
    } 
}


ce-event-item-embed::after {
    content:" ";
    clear:both;
    display:block;
}
